.profile__add-button {
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #000;
    justify-self: flex-end;
    margin-left: auto;
    width: 150px;
    height: 50px;
    background-image: url("../../../images/add-button.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 1;
    transition: opacity .3s linear;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 700px) {
    .profile__add-button {
        width: 100%;
        margin: 36px 0 0;
        background-image: url("../../../images/add-button-mob.svg");
    }
}