.profile__description {
    margin: 0;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    font-style: normal;
    grid-column: 1/2;
    grid-row: 2/3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
}

@media screen and (max-width: 700px) {
    .profile__description {
        line-height: 22px;
        grid-column: 1/2;
        max-width: 250px;
        font-size: 14px;
    }
}